PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=magic_edh
PG_USER=julien
PG_PASSWORD=ton_mot_de_passe
CARD_IMAGES_DIR=/srv/mtg-cards
CORS_ORIGINS=http://localhost:3000
AUTH_USERNAME=julien
AUTH_PASSWORD_HASH=genere_avec_scripts/hash_password.py
JWT_SECRET=genere_avec_scripts/hash_password.py
JWT_EXPIRE_DAYS=30
